<html>
  <head>
    <title>Let's Party</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />

    <!-- Adding Boostrap CDN -->
    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->


    <!-- Adding Jquery CDN -->
   <!--  <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script> -->

    <!-- Adding Libraries Locally -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/jquery.min.js"></script> -->

    <!-- Adding our Custom CSS, JS and Fonts -->
    <link rel="stylesheet" href="/static/css/home.css">
    <script type="text/javascript" language="javascript" src="/static/js/home.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <img class="brang-img" alt="Brand" src="/static/images/partymasti.png">
          <!-- <a class="navbar-brand" href="#">Party Masti</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">SignUp</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container app-container">
    	<h1> Welcome to party masti.....</h1>
    </div>

	<nav class="nav-foo navbar navbar-inverse">
	    <div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-footer">
	        <a class="navbar-brand fa fa-building-o fa-2x" href="#">
	        All Rights 2016 @PartyMasti
			</a>
	      </div>

	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav navbar-right">
	        	<li><a href="www.google.com" class="fa fa-google"></a></li>
	        	<li><a href="www.facebook.com" class="fa fa-facebook"></a></li>
	        	<li><a href="www.twitter.com" class="fa fa-twitter"></a></li>
	        	<li><a href="www.instagram.com" class="fa fa-instagram"></a></li>
	        	<li><a href="www.blog.com" class="fa fa-rss"></a></li>
	        </ul>
	      </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
    </nav>

  </body>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/jquery.min.js"></script>
</html>
